{% extends "base.html" %}

{% block title %}
<title>Best news</title>
{% endblock %}

{% block headline %}
<h1>World News Hub: Your Voice, Our Headlines!</h1>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!-- Section "Economics" -->
            <h2>Economics</h2>
            {% for news in economic_news %}
            <div class="news-item">
                <h3>{{ news.title }}</h3>
                <p>{{ news.summary }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <!-- Section "IT" -->
            <h2>IT world</h2>
            {% for news in it_news %}
            <div class="news-item">
                <h3>{{ news.title }}</h3>
                <p>{{ news.summary }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <!-- Section "Entertainment" -->
            <h2>Entertainment</h2>
            {% for news in entertainment_news %}
            <div class="news-item">
                <h3>{{ news.title }}</h3>
                <p>{{ news.summary }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
